.env
__pycache__
.vscode
database/__pycache__
filters/__pycache__

handlers/__pycache__
/dev
database/sched_even_backup.sql
database/sched_uneven_backup.sql
keyboards/__pycache__
Pipfile
Pipfile.lock
