[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
aiogram = "*"
psycopg2 = "*"
python-dotenv = "*"
g4f = "*"
asyncpg = "*"
redis = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.11"
